
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/Logo.png" type="image/x-icon" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>GYM LGJR</title>

</head>


<body>

    <header class="cabecera">
        <div class="cab_nav"> 
            <a class="logo" href="/">
                <img src="/static/img/Logo.png" >
            </a>
            
            <h2 class="nomb_logo">Gimnasio LGRJ</h2>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Acerca de</a></li>
                <li class="marca"><a href="/iniciar-sesion">Entrar</a></li>
            </ul>
        </div>
    </header>

    <section class="content contact">
        <h2 class="title"><i class="fa-solid fa-phone"></i>Contacto</h2>
        <p></i>48481548</p>
        <h2 class="title"><i class="fa-solid fa-location-dot"></i>Ubicanos</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31306.856096015534!2d-74.21734712955696!3d11.235126188711293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef4f5a5b24fb07f%3A0xb2cb35bcc3e481ad!2sUniversidad%20del%20Magdalena!5e0!3m2!1ses!2sco!4v1666460389309!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>


    <footer class="foot">
        <p class="foot_p">pag web Gimnasio &copy</p>
    </footer>
</body>

</html>
