<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/Logo.png" type="image/x-icon" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>GYM LGJR</title>


</head>
<body>
    <header class="content header">
    <div class="head">
        <a class="logo" href="/">
            <img src="/static/img/Logo.png" >
          </a>
        <nav class="navbar">
            
            <a href="/">Inicio</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Contacto</a>
            <a href="/planes">Planes</a>
            <a href="/iniciar-sesion">Acceder</a>
            
        </nav>
        
    </div>
   
        <p>
            <h2 class="title">Entrena Donde quieras y cuando quieras</h2>
            <div class="btn-home">
                <a href="/planes" class="btn">Saber mas</a>
                <a href="/registro" class="btn">Registrarse</a>
            </div>
        </p>

    </header>
    

    
    <section class="price container">
        <h2 class="subtitle2">Obten el plan perfecto para ti</h2>

        <div class="price__table">
            <div class="price__element">
                <p class="price__name">DÉBITO MENSUAL TRADICIONAL</p>
                <h3 class="price__price">$118.000</h3>

                <div class="price__items">
                    <p class="price__features">Precio x Mes $ 118.000</p>
                    <p class="price__features">Plan 1 mes en débito automático mensual.</p>
                    <p class="price__features">afiliación sin Permanencia SUPER.</p>
                </div>

                <a href="/planes" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element price__element--best">
                <p class="price__name">DÉBITO MENSUAL GOLD 50% PRIMERA CUOTA</p>
                <h3 class="price__price">$99.900</h3>

                <div class="price__items">
                    <p class="price__features">Precio x Mes $ 99.900</p>
                    <p class="price__features">Recibe 100% de descuento en la cuota de inscripción y 50% de</p>
                    <p class="price__features">descuento en el valor del primer mes en tu categoría Super. Oferta</p>
                </div>

                <a href="/planes" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element">
                <p class="price__name">WELCOME PACK</p>
                <h3 class="price__price">$72.500</h3>

                <div class="price__items">
                    <p class="price__features">Precio x Mes $ 72.500</p>
                    <p class="price__features">Adquiere 1 mes en categoría SUPER. ESTE PLAN SOLO SE PUEDE COMPRAR UNA VEZ.</p>
                    <p class="price__features">Únicamente para nuevos afiliados.</p>
                </div>

                <a href="/planes" class="price__cta">Empieza ahora</a>
            </div>


        </div>
    

    <section class="testimony">
        <h2 class="subtitle1">¿Qué dicen de nosotros?</h2>
        <div class="testimony__container container">
            <img src="/static/img/leftarrow.svg" class="testimony__arrow" id="before">

            <section class="testimony__body testimony__body--show" data-id="1">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Jordan Alexander, <span class="testimony__course">estudiante
                            de CSS.</span></h2>
                    <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                        esse, asperiores eaque totam nulla repudiandae quasi, deserunt culpa exercitationem
                        blanditiis laborum veniam laboriosam saepe reiciendis dolorem. Cum, ratione voluptatum!</p>
                </div>

                <figure class="testimony__picture">
                    <img src="/static/img/face.jpg" class="testimony__img">
                </figure>
            </section>

            <section class="testimony__body" data-id="2">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Alejandra Perez, <span class="testimony__course">estudiante de
                            CSS.</span></h2>
                    <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                        esse, asperiores eaque laborum veniam laboriosam saepe reiciendis dolorem. Cum, ratione
                        voluptatum!</p>
                </div>

                <figure class="testimony__picture">
                    <img src="/static/img/face2.jpg" class="testimony__img">
                </figure>
            </section>

            <section class="testimony__body" data-id="3">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Karen Arteaga, <span class="testimony__course">estudiante de
                            CSS.</span></h2>
                    <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                        esse, niam laboriosam saepe reiciendis dolorem. Cum, ratione voluptatum!</p>
                </div>

                <figure class="testimony__picture">
                    <img src="/static/img/face3.jpg" class="testimony__img">
                </figure>
            </section>

            <section class="testimony__body" data-id="4">
                <div class="testimony__texts">
                    <h2 class="subtitle">Mi nombre es Kevin Ramirez, <span class="testimony__course">estudiante de
                            CSS.</span></h2>
                    <p class="testimony__review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut est
                        esse, niam laboriosam saepe reiciendis dolorem. Cum, ratione voluptatum!</p>
                </div>

                <figure class="testimony__picture">
                    <img src="/static/img/face4.jpg" class="testimony__img">
                </figure>
            </section>


            <img src="/static/img/rightarrow.svg" class="testimony__arrow" id="next">
        </div>
    </section>
</section>


    <footer class="footer">
        <section class="footer__container container">
            
        </section>

    <section class="footer__copy container">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img src="/static/img/facebook.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="/static/img/twitter.svg" class="footer__img"></a>
            <a href="#" class="footer__icons"><img src="/static/img/youtube.svg" class="footer__img"></a>
        </div>

        <h3 class="footer__copyright">Derechos reservados &copy; GYM LGJR</h3>
    </section>
</footer>

    <script src="/static/js/slider.js"></script>
    
</body>

</html>

