<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/Logo.png" type="image/x-icon" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>GYM LGJR</title>

</head>

<body class="planes">
    <img src="../static/img/planes.jpg" alt="" class="backgroundImage">
    <header class="cabecera">
        <div class="cab_nav"> 
            <a class="logo" href="/">
                <img src="/static/img/Logo.png" >
              </a>
            
            <h2 class="nomb_logo">Gimnasio LGRJ</h2>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Acerca de</a></li>
                <li class="marca"><a href="/iniciar-sesion">Entrar</a></li>
            </ul>
        </div>
    </header>

    <section class="price2 container">
        <h2 class="subtitle2">Planes</h2>

        <div class="flex flex-j-c price">
            <div class="price__element">
                <p class="price__name">¿POR QUÉ UNIRSE EN PLAN DÉBITO MENSUAL?
                    Disfruta mayor flexibilidad (sin cláusula de permanencia) por un costo adicional por mes.
                    Paga mes a mes tu entrenamiento.
                    Descuentos en servicios complementarios.</p>
                <h3 class="price__price"></h3>

                <div class="price__items">
                    <p class="price__features">¿QUÉ INCLUYE TU AFILIACIÓN?
                        Plan de entrenamiento individual
                        Valoración física trimestral
                        Seguimiento mensual de progresos
                        Acceso a múltiples sedes según tu categoría
                        Clases grupales
                        Estudio de Indoor Cycling
                        Zonas húmedas
                        Acceso al Club de Beneficios
                        Ganas meses con el Plan de Referidos
                        Tarifa especial en servicios complementarios
                        </p>
                    <p class="price__features">CATEGORÍA SUPER: Acceso ilimitado a 11 sedes a Nivel Nacional. Sedes de categoría Súper.                    </p>
                    <p class="price__features">*CONSULTA LOS TÉRMINOS Y CONDICIONES DEL PLAN*</p>
                </div>

                <a href="/iniciar-sesion" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element price__element--best">
                <p class="price__name">Recibe 100% de descuento en la cuota de inscripción y 50% de descuento en el valor del primer mes en tu categoría Super. Oferta disponible hasta el 31/10/2022.</p>
                <h3 class="price__price">¿POR QUÉ UNIRSE EN PLAN DÉBITO MENSUAL?
                    El precio más bajo por mes en Plan Débito Mensual aceptando una cláusula de permanencia por un año.
                    Paga mes a mes tu entrenamiento.
                    Descuentos en servicios complementarios.</h3>

                <div class="price__items">
                    <p class="price__features">¿QUÉ INCLUYE TU AFILIACIÓN?
                        Plan de entrenamiento individual
                        Valoración física trimestral
                        Seguimiento mensual de progresos
                        Acceso a múltiples sedes según tu categoría
                        Clases grupales
                        Estudio de Indoor Cycling
                        Zonas húmedas
                        Acceso al Club de Beneficios
                        Ganas meses con el Plan de Referidos
                        Tarifa especial en servicios complementarios</p>
                    <p class="price__features">CATEGORÍA SUPER: Acceso ilimitado a 11 sedes  a Nivel Nacional. Sedes de categoría Súper.                    </p>
                    <p class="price__features">*CONSULTA LOS TÉRMINOS Y CONDICIONES DEL PLAN*</p>
                </div>

                <a href="/iniciar-sesion" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element">
                <p class="price__name">¿QUÉ INCLUYE?</p>
                <h3 class="price__price">1 mes de entrenamiento en la sede</h3>

                <div class="price__items">
                    <p class="price__features">Evaluación de composición corporal y programa de entrenamiento personalizado</p>
                    <p class="price__features">Tarifa de renovado al momento de adquirir un nuevo plan.</p>
                    <p class="price__features">Categoría Súper: Acceso ilimitado a 11 sedes a Nivel Nacional. Sedes de categoría Súper.</p>
                </div>

                <a href="/iniciar-sesion" class="price__cta">Empieza ahora</a>
            </div>


        </div>
    
    </section>
    
    <footer class="foot">
        <p class="foot_p">pag web Gimnasio &copy</p>
    </footer>
         
</body>
