<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/Logo.png" type="image/x-icon" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>GYM LGJR</title>

</head>

<body class="planes">
    <img src="../static/img/planes.jpg" alt="" class="backgroundImage">
    <header class="cabecera">
        <div class="cab_nav"> 
            <a class="logo" href="/">
                <img src="/static/img/Logo.png" >
              </a>
            
            <h2 class="nomb_logo">Gimnasio LGRJ</h2>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Acerca de</a></li>
                <li class="marca"><a href="/iniciar-sesion">Entrar</a></li>
            </ul>
        </div>
    </header>

    <section class="price2 container">
        <h2 class="subtitle2">Planes</h2>

        <div class="flex flex-j-c price">
            <div class="price__element">
                <p>Te has registrado exitosamente</p><br>
                <img src="../static/img/Logo.png" alt="" class="logo__check"><br>
                <i class="fa-regular fa-circle-check" ></i>
                <h2>Bienvenido a la Familia</h2>
                <h1>LGRJ</h1>
                <button class="btn"><a href="/iniciar-sesion">Iniciar</a></button>
            </div>
        </div>
    
    </section>
    
    <footer class="foot">
        <p class="foot_p">pag web Gimnasio &copy</p>
    </footer>
         
</body>
